@import "../../node_modules/codemirror/lib/codemirror.css";

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/FiraCode-Regular.otf");
  src: local("Fira Code"), local("FiraCode"), url("./fonts/FiraCode-Regular.woff2") format("woff2"),
    url("./fonts/FiraCode-Regular.woff") format("woff"),
    url("./fonts/FiraCode-Regular.ttf") format("truetype");
}

body {
  font-family: "Rubik", sans-serif;
}

.editor-content,
.CodeMirror {
  font-family: "Fira Code", "Consolas", monospace;
  height: 500px;
  cursor: text;
}

.github-corner,
.github-corner svg {
  z-index: 9999;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }

    &:hover .octo-arm {
      animation: none;
    }
  }
}
