$paste-info-accent: #3f4954;

.paste-content {
  padding: 1rem;
  padding-right: 0;
  background-color: $paste-info-accent;

  .paste-info {
    padding: 1rem;

    &__line {
      font-size: 0.9em;
      text-align: center;
      color: white;

      &:not(:first-child) {
        margin-top: 0.75rem;
      }

      &__title {
        color: darkgray;
        font-size: 0.8em;
        text-transform: uppercase;
      }

      &__copy {
        cursor: pointer;
        color: #57b5ff;
      }
    }
  }
}
