@import "#/styles/mixins.scss";

.header-module {
  width: 100%;

  .navbar-collapse {
    .nav-item {
      margin-left: 0.5rem;

      @include less-md {
        margin-top: 0.5rem;
        margin-left: 0;

        &:first-child {
          margin-top: 1rem;
        }
      }

      &,
      button,
      select {
        width: 100%;

        @include greater-md {
          width: unset;
        }
      }
    }
  }
}
